* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Changed all references of .header to header due to change of div to header tag*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.navbar-brand {
    font-size: 48px;
}

/*Simplified to just referencing .seo*/
.seo {
    color: #d9dcd6;
}
 
/*Changed all header div styles to nav*/
nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navbar-nav {
    list-style-type: none; 
}

.nav-item {
    display: inline-block; 
    margin-left: 25px;
}

.nav-link {
    color: #ffffff !important; 
}

.nav-link:hover {
    color: #d9dcd6 !important; 
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*Removed background-image and placed img tag in .hero div for use of 
the alt img attribute for purposes of accessibility. Changed value of 
height to relative to prevent stretching while keeping width 100%.*/
.hero img {
    height: relative; 
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.container {
  
    
    
}

.wrapper {

   
}

.row {
    margin-left: 2%; 
    margin-right: 2%; 
}

/*Styling for entire content section*/
.content {
   
}

/*Styling for entire benefits section*/
.benefits {
    padding: 20px; 
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Separate benefit divs given same class name (.benefit-item)*/
.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Separate h3 tags in benefit items given same class name (.benefit-heading)*/
.benefit-heading {
    margin-bottom: 10px;
    text-align: center;
}

/*Separate images in benefit items given same class name (.benefit-image)*/
.benefit-image {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Separate content divs given same class name (.content-item)*/
.content-item {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    overflow: auto; 
}

/*Separate content div images given same class name (.content-image)*/
.content-image {
    max-height: 200px; 
    margin-bottom: 20px; 
}

/*Separate content h2 tags given same class name (.content-heading)*/
.content-heading {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Changed all references of .footer to footer due to change of div to footer tag*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
